.modal-window {
    position: fixed;
    background-color:rgba(200, 200, 200, 0.35);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden; 
    opacity: 0;
    pointer-events: none;
    /* transition: all 0.8s;  */
    /* background-color: red; */
    /* opacity:  0.4; */
}

  .modal-window-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  .modal-window > div {
    width: 610px;
    height: 50px;
    position: fixed;
    top: 15px;
    left: 50%;
     /* transform: translate(-50%, 0);    */
    transform: translate(calc(50vw + 20px), 0);    
    padding: 10px;
    /* background: white; */
    border-radius: 1rem;
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
  }

  .modal-window-open > div {
    transform: translate(-50%, 0);
    transition: transform 0.5s;
  }

  .modal-window h1 {
    font-size: 1.5rem;
  }
  
  .modal-close {
    font-size: 28px;
    font-weight: bold;
    color: rgb(105, 103, 103);
    line-height: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }

  .modal-close:hover,
  .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-win {
    background-color: rgb(86, 201, 86);
  
  }
  
  .modal-lost {
    background-color: rgb(247, 86, 86);
  
  }

/*   
  #win-lost {

    background-color: rebeccapurple;
  } */